*{
    box-sizing:border-box;
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#mainContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    overflow: none;
}

#top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 2rem;
    padding: 1rem;
    flex-direction: column;
    /* background-color: rgb(8, 0, 151); */
    background-color: #080097;
    background-image: linear-gradient(45deg, #000000 0%, #001c68 50%, #0044ff 100%);
    color: white;
    border-radius: 10px;
}

#bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 2rem;
    padding: 1rem;
    flex-direction: column;
    /* background-color: rgb(8, 0, 151); */
    background-color: #080097;
    background-image: linear-gradient(135deg, #0044ff 0%, #001c68 50%, #000000 100%);
    color: white;
    border-radius: 10px;
}

h2{
    color: white;
}

#top-container {
    border-radius: 20px;
}

#bottom-container {
    border-radius: 20px;
}a {
    color: white !important;
}

#i {
    font-family: serif;
}

#night {
    height: fit-content;
    color:white !important;

}