body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
#navbar .uk-navbar-container {
    background-color: transparent;
}
.uk-navbar-dropdown {
    border-radius: 10px;
}




/*title*/
h1 {
    font-weight: bold;
    color: black;
   

}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* This will make the image go behind the navbar */
}

#coverImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    color: black;

}
.uk-navbar-nav {
    display: flex;
    justify-content: space-between;
}
#Nav {
    display: flex;
    align-items: center;


}
#titleContainer{
    display: flex;
    justify-content: center;
}
/* .cover {
    position: relative;
}

#coverImg {
    width: 100%;
    height: auto;
} */

#title {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
   
    font-size: 100px;
}
#i {
    display: inline;
    font-family: 'Lumanosimo', 'Times New Roman', Times, serif;
}
/* Reduce the font-size when the screen width is 600px or less */
@media (max-width: 773px) {
    #title {
        font-size: 50px;
    }
}
@media (max-width: 394px) {
    #title {
        font-size: 30px;
    }
}
.uk-navbar-dropdown {
    left: auto !important;
    right: 100 !important;
}