
.uk-navbar-container  {
    border-bottom: 2px solid blue;
    margin-left: 8px;
    margin-right: 8px;
}

h1 {
    font-weight: bold;
    color: black;
}
#serifI {
    font-family: 'Noto Serif', serif;
}
